/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removemos todas as outras regras.
  O layout.tsx e o tailwind.config.ts
  agora cuidam das fontes e cores de fundo globais.
*/